ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.button{
  border-radius: 12px;
  padding: 10px;
  font-size: large;
  font-weight: bolder;
}

button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.mainButton{
  background-color: blue;
  color: white;
}

.mainButton:hover{
  box-shadow: 1px 1px rgb(0, 92, 128);
}

.secondaryButton{
  background-color: rgb(92, 89, 240);
  color: white;
}

.secondaryButton:hover{
  box-shadow: 1px 1px rgb(0, 92, 128);
}

.Buscar {
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 8px;
}

.Buscar > input {
  outline: none;
  border: 0px;
}