ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.button{
    border-radius: 12px;
    padding: 10px;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 1px 1px rgb(0, 92, 128);
}

button:hover{
    transform: scale(1.1);
}
.mainButton{
    background-color: blue;
    color: white;
}

.mainButton:hover{
    transform: scale(1.1);
}

.secondaryButton{
    background-color: rgb(92, 89, 240);
    color: white;
}

.secondaryButton:hover{
    transform: scale(1.1);
}